<div>
  <h2 id="page-heading" data-cy="AddressHeading">
    <span jhiTranslate="biscApp.address.home.title">Addresses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="biscApp.address.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-address"
        [routerLink]="['/address/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="biscApp.address.home.createLabel"> Criar novo(a) Address </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="addresses?.length === 0">
    <span jhiTranslate="biscApp.address.home.notFound">Nenhum Addresses encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="addresses && addresses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="country">
            <div class="d-flex">
              <span jhiTranslate="biscApp.address.country">Country</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="city">
            <div class="d-flex">
              <span jhiTranslate="biscApp.address.city">City</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="postalCode">
            <div class="d-flex">
              <span jhiTranslate="biscApp.address.postalCode">Postal Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="streetAddress">
            <div class="d-flex">
              <span jhiTranslate="biscApp.address.streetAddress">Street Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vatNumber">
            <div class="d-flex">
              <span jhiTranslate="biscApp.address.vatNumber">Vat Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isDefault">
            <div class="d-flex">
              <span jhiTranslate="biscApp.address.isDefault">Is Default</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="client.id">
            <div class="d-flex">
              <span jhiTranslate="biscApp.address.client">Client</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tasker.id">
            <div class="d-flex">
              <span jhiTranslate="biscApp.address.tasker">Tasker</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of addresses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/address', address.id, 'view']">{{ address.id }}</a>
          </td>
          <td>{{ address.country }}</td>
          <td>{{ address.city }}</td>
          <td>{{ address.postalCode }}</td>
          <td>{{ address.streetAddress }}</td>
          <td>{{ address.vatNumber }}</td>
          <td>{{ address.isDefault }}</td>
          <td>
            <div *ngIf="address.client">
              <a [routerLink]="['/client', address.client.id, 'view']">{{ address.client.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="address.tasker">
              <a [routerLink]="['/tasker', address.tasker.id, 'view']">{{ address.tasker.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/address', address.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/address', address.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(address)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
