<div>
  <h2 id="page-heading" data-cy="PortfolioHeading">
    <span jhiTranslate="biscApp.portfolio.home.title">Portfolios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="biscApp.portfolio.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-portfolio"
        [routerLink]="['/portfolio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="biscApp.portfolio.home.createLabel"> Criar novo(a) Portfolio </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="portfolios?.length === 0">
    <span jhiTranslate="biscApp.portfolio.home.notFound">Nenhum Portfolios encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="portfolios && portfolios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bio">
            <div class="d-flex">
              <span jhiTranslate="biscApp.portfolio.bio">Bio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="skills">
            <div class="d-flex">
              <span jhiTranslate="biscApp.portfolio.skills">Skills</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="speakingLanguages">
            <div class="d-flex">
              <span jhiTranslate="biscApp.portfolio.speakingLanguages">Speaking Languages</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stars">
            <div class="d-flex">
              <span jhiTranslate="biscApp.portfolio.stars">Stars</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="completedTasks">
            <div class="d-flex">
              <span jhiTranslate="biscApp.portfolio.completedTasks">Completed Tasks</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hourlyRate">
            <div class="d-flex">
              <span jhiTranslate="biscApp.portfolio.hourlyRate">Hourly Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let portfolio of portfolios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/portfolio', portfolio.id, 'view']">{{ portfolio.id }}</a>
          </td>
          <td>{{ portfolio.bio }}</td>
          <td>{{ portfolio.skills }}</td>
          <td>{{ portfolio.speakingLanguages }}</td>
          <td>{{ portfolio.stars }}</td>
          <td>{{ portfolio.completedTasks }}</td>
          <td>{{ portfolio.hourlyRate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/portfolio', portfolio.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/portfolio', portfolio.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(portfolio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
