<div>
  <h2 id="page-heading" data-cy="JobDescriptorHeading">
    <span jhiTranslate="biscApp.jobDescriptor.home.title">Job Descriptors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="biscApp.jobDescriptor.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-job-descriptor"
        [routerLink]="['/job-descriptor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="biscApp.jobDescriptor.home.createLabel"> Criar novo(a) Job Descriptor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="jobDescriptors?.length === 0">
    <span jhiTranslate="biscApp.jobDescriptor.home.notFound">Nenhum Job Descriptors encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="jobDescriptors && jobDescriptors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="biscApp.jobDescriptor.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="biscApp.jobDescriptor.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="portfolio.id">
            <div class="d-flex">
              <span jhiTranslate="biscApp.jobDescriptor.portfolio">Portfolio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobDescriptor of jobDescriptors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/job-descriptor', jobDescriptor.id, 'view']">{{ jobDescriptor.id }}</a>
          </td>
          <td>{{ jobDescriptor.name }}</td>
          <td>{{ jobDescriptor.description }}</td>
          <td>
            <div *ngIf="jobDescriptor.portfolio">
              <a [routerLink]="['/portfolio', jobDescriptor.portfolio.id, 'view']">{{ jobDescriptor.portfolio.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/job-descriptor', jobDescriptor.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/job-descriptor', jobDescriptor.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(jobDescriptor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
