<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="address">
      <h2 data-cy="addressDetailsHeading"><span jhiTranslate="biscApp.address.detail.title">Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ address.id }}</span>
        </dd>
        <dt><span jhiTranslate="biscApp.address.country">Country</span></dt>
        <dd>
          <span>{{ address.country }}</span>
        </dd>
        <dt><span jhiTranslate="biscApp.address.city">City</span></dt>
        <dd>
          <span>{{ address.city }}</span>
        </dd>
        <dt><span jhiTranslate="biscApp.address.postalCode">Postal Code</span></dt>
        <dd>
          <span>{{ address.postalCode }}</span>
        </dd>
        <dt><span jhiTranslate="biscApp.address.streetAddress">Street Address</span></dt>
        <dd>
          <span>{{ address.streetAddress }}</span>
        </dd>
        <dt><span jhiTranslate="biscApp.address.vatNumber">Vat Number</span></dt>
        <dd>
          <span>{{ address.vatNumber }}</span>
        </dd>
        <dt><span jhiTranslate="biscApp.address.isDefault">Is Default</span></dt>
        <dd>
          <span>{{ address.isDefault }}</span>
        </dd>
        <dt><span jhiTranslate="biscApp.address.client">Client</span></dt>
        <dd>
          <div *ngIf="address.client">
            <a [routerLink]="['/client', address.client.id, 'view']">{{ address.client.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="biscApp.address.tasker">Tasker</span></dt>
        <dd>
          <div *ngIf="address.tasker">
            <a [routerLink]="['/tasker', address.tasker.id, 'view']">{{ address.tasker.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
